<div class="card-header bg-light">
  <h5 class="card-title mb-0 text-dark">
    Top 3 studios with winners
  </h5>
</div>

<div class="card-body">
  <app-loading 
    *ngIf="loading" 
    message="Loading studios data...">
  </app-loading>
  
  <app-error-message 
    *ngIf="error"
    [message]="errorMessage"
    (retry)="onRetry()">
  </app-error-message>
  
  <div *ngIf="!loading && !error && (studiosData$ | async) as data">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Win Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let studio of data.studios">
            <td>{{ studio.name }}</td>
            <td class="text-center">{{ studio.winCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
